<?xml version="1.0"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <clear/>
    <add name="Local" connectionString="server=localhost;User Id=*;Password=;database=jgdb;ConvertZeroDateTime=True;UseCompression=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="ID_SUCURSAL" value="1"/>
    <add key="TASA_IVA" value="0.13"/>
    <add key="TASA_PC175" value="0.0175"/>
    <add key="TASA_PC003" value="0.003"/>
    <add key="PERIODO" value="2018"/>
    <add key="ID_BODEGA_SALIDA" value="1"/>
    <add key="TOKEN_TICKET" value="1000001"/>
    <add key="TOKEN_CREDITO_FISCAL" value="5000001"/>
    <add key="TOKEN_CONSUMIDOR_FINAL" value="9000001"/>
    <add key="CAJA_EFECTIVO" value="0"/>
    <add key="CAJA_ID" value="1"/>
    <add key="ID_CLIENTE_VARIOS" value="1"/>
    <add key="ESTACION_ID" value="CAJA 1"/>
    <add key="ID_CAJA_CONFIGURACION" value="40000"/>
    <add key="MARCA_BLANCA" value="BASAR JUANITA GARCIA"/>
    <add key="RUTA_DESTINO_BACKUP" value="C:\Users\marvi\Desktop\backup_{0}{1}{2}{3}{4}.sql"/>
    <add key="COMANDOS_ABRIR_CAJON_PRINTER_0" value="\x1B + p + \x00 + \x0F + \x96"/>
    <add key="COMANDOS_ABRIR_CAJON_PRINTER_1" value="\x1B + p + \x00 + \x0F + \x96"/>
    <add key="COMANDOS_ABRIR_CAJON_PRINTER_2" value="(char)27 + (char)112 + (char)0 + (char)25 + (char)250"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="AppListenerLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="mhinventario.log" traceOutputOptions="ProcessId, LogicalOperationStack, Timestamp, ThreadId, Callstack, DateTime"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
